.shopping-cart {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    .shopping-cart-products {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1;
    }
}