.home {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;
    width: 1200px;

    .home-title {
        font-size: 36px;
        font-weight: bold;
        color: #4b4646;
    }

    .home-products {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        margin-bottom: 64px;
    }
}