.home {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 32px;
    width: 100%;

    .home-title {
        font-size: 36px;
        font-weight: bold;
        color: #4b4646;
    }

    .home-products {
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        gap: 32px;
    }
}