.header {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-radius: 32px;
    background-color: white;
    margin-top: 32px;

}

.logo {
    height: 40px;
    cursor: pointer;
}

.admin-links {
    display: flex;
    gap: 32px;
    color: #383434;

    span {
        cursor: pointer;
    }
}



.buttons {
    display: flex;
    gap: 32px;
    color: #aaaaaa;
}

.cart-icon {
    cursor: pointer;
}

