.sidebar {
  width: 420px;
  height: 60vh;
  position: sticky;
  top: 32px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 16px;
}

.estado-select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
  margin: 20px 0;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-text {
  font-size: 1rem;
  color: #666;
  margin-top: 2rem;
}

.sidebar-button {
  align-self: flex-end;
  margin-top: auto;
}

.value-group {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 1rem;
  color: #333;
}

.total {
  font-weight: bold;
  font-size: 1.1rem;
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0;
}
